**/*.log
**/*.o
**/*.d
**/*.so
**/*.a
**/*.bin
**/*.hex
**/*.elf
**/*.axf
**/*.exe
**/*.dll
**/*.srec
**/*.lss
**/*.eep
**/*.dylib
**/*.map
**/*.tmp
**/*.lib
**/*.ilk
**/*.dat
**/*.pdb
**/*.jar
**/*.su
**/*.cmd
**/*.old
**/*.sym
**/*.class
**/[^\.]* # any no extension files
**/.* # any hidden files
!**/Makefile
!**/makefile
!**/gradlew
!**/*defconfig
!**/*config
!**/*config*
!**/config*
!**/README
!**/readme
!**/Readme
!**/LICENSE
!**/License
!**/license
!**/LICENSE*
!**/License*
!**/license*
!**/rust-toolchain